html { 
    box-sizing: border-box; 
}


/* HEADER AND TITLE */ 

.photo_top { 
    background: linear-gradient(to right, #d9ffb3, #80ff00 50%, #4d9900); 
    margin-bottom: 0; 
}

.photo_top img{ 
    display:inline-block; 
    width: 15%; 
    height: 200px;
    padding:0; 
    border-width: 0; 
    margin-left: 120px; 
}

.nav_foot { 
    height: 95px; 
    background: linear-gradient(to right, #d9ffb3, #80ff00 50%, #4d9900);
    width: 100%; 
    margin-top: 0; 
    position:relative; 
    bottom: 38px;
}

.nav_foot p { 
    color: black; 
    font-weight: bold; 
    font-size: 38px; 
    text-decoration: none; 
    margin-left: 10px; 
    position:relative; 
    top: 20px;
    font-family: 'Patua One', cursive;
}




/* NAVIGATION BAR: HOVER LINES */ 


.lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
  }
  
.lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
    font-weight: bold; 
    font-size: 20px;
    font-family: "Calibri"; 
    margin-right: 40px;
    text-decoration:none; 
}
  
.lines li:first-child a {
    margin-left: 0;
}
  

  
.lines a:before,
  .lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: brown;;
    width: 0;
}
  
.lines a::before {
    top: 0;
    left: 0;
}
  
.lines a::after {
    bottom: 0;
    right: 0;
}
  
.lines a:hover,
  .lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}
  
.lines a:hover::before,
  .lines .active a::before,
  .lines a:hover::after,
  .lines .active a::after {
    width: 100%;
}

/* NAVIGATION BAR: DIV */ 

.nav_contain { 
    width: 100%; 
    background: linear-gradient(to right, #73e600,#408000 50%,#1a3300); 
    height: 60px; 
    position:relative; 
    bottom: 38px;
    border-top: solid black 1.5px; 
    border-bottom: solid black 1.5px; 
}

.nav {
    list-style-type:none; 
}

.nav li { 
    float:left; 
    position: relative; 
    top:1px;
}

  
/* MAIN BODY: PHOTO AND TITLE */ 


.main_body { 
    margin-left: 20%; 
    margin-right: 30%;
    background-color: forestgreen;  
    width: 60%;
}

.main_body img { 
    height: 500px; 
    width: 500px; 
    margin-left: 25%; 
    margin-top: 10px;
}

.main_body p { 
    text-align: center; 
    font-size: 28px;
    font-family: "Comic Sans";
}

.about_me p { 
    font-size: 18px;
}
