html { 
    box-sizing: border-box; 
    height: 100%; 
}

.container { 
    height: 100%;
    background: url("./../images/forest_bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* HEADER AND TITLE */ 

.photo_top { 
    background: linear-gradient(to right, #00cccc, #008080 50%, #004d4d); 
    margin-bottom: 0; 
}

.photo_top img{ 
    display:inline-block; 
    width: 15%; 
    height: 200px;
    padding:0; 
    border-width: 0; 
    margin-left: 120px; 
}

.nav_foot { 
    height: 120px; 
    background: linear-gradient(to right, #d9ffb3, #80ff00 50%, #4d9900);
    width: 100%; 
    margin-top: 0; 
    position:relative; 
    bottom: 38px;
    display: inline-block; 
}

.nav_foot p { 
    font-weight: bold; 
    text-decoration: none; 
    margin-left: 10px; 
    position:relative; 
    top: 20px;
    font-family: 'Patua One', cursive;
    margin-left: 10%; 
    display: inline-block;
    margin-bottom: 10%; 
}

.nav_foot img { 
    position: relative; 
    left: 17%; 
    top: 25%; 
    color: grey; 
}

#beta { 
    color: red; 
}

#name { 
    font-size: 38px;
    text-decoration: none; 
    color:black;
}

#motto {
    position: relative; 
    left: 15%; 
    font-size: 26px; 
    color: darkslategrey; 
    
}


/* NAVIGATION BAR: HOVER LINES */ 


.lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
  }
  
.lines li a {
    padding: 0.5rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    bottom: 7px; 
    margin-left: 1rem;
    font-weight: bold; 
    font-size: 15px;
    font-family: "Calibri"; 
    margin-right: 40px;
    text-decoration:none; 
}
  
.lines li:first-child a {
    margin-left: 0;
}
  

  
.lines a:before,
  .lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: brown;
    width: 0;
}
  
.lines a::before {
    top: 0;
    left: 0;
}
  
.lines a::after {
    bottom: 0;
    right: 0;
}
  
.lines a:hover,
  .lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}
  
.lines a:hover::before,
  .lines .active a::before,
  .lines a:hover::after,
  .lines .active a::after {
    width: 100%;
}

/* NAVIGATION BAR: DIV */ 

.nav_contain { 
    /* background: linear-gradient(to right, #00cccc, #008080 50%, #004d4d);  */
    background: linear-gradient(to right, #d9ffb3, #80ff00 50%, #4d9900);
    height: 40px;  
    position: absolute; 
    width: 100%;
}


.nav {
    list-style-type:none; 
}

.nav li { 
    float:left; 
    /* position: relative; 
    top:1px; */
}  

  
/* MAIN BODY: GRID */ 

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 2fr 4fr 4fr 1fr;
        grid-template-rows: 2fr 4fr 4fr 1fr;
    grid-gap: 20px;
    height: 200px;
}


.grid-top { 
    -ms-grid-row: 1; 
        grid-row-start: 1; 
    -ms-grid-column:1; 
        grid-column-start:1; 
    grid-column-end: 5; 
}

.grid-topleft {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }

.grid-topright {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
}

.grid-botleft {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
}

.grid-botright {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
}

.grid-footer {    
    -ms-grid-row: 4; 
        grid-row-start: 4; 
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
}



/* 

@media screen and (max-width: 60em) {
    .grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
}

 
@media screen and (max-width: 60em) {
    .grid-topleft {
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 3;
    }
}
  
@media screen and (max-width: 60em) {
    .grid-topright {
      -ms-grid-row: 1;
          grid-row-start: 1;
      -ms-grid-column: 3;
          grid-column-start: 3;
      grid-column-end: 5;
    }
}
  
@media screen and (max-width: 60em) {
    .grid-botleft {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 3;
    }
}

@media screen and (max-width: 60em) {
    .grid-botright {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 3;
          grid-column-start: 3;
      grid-column-end: 5;
    }
}

*/

/* Body */ 

.grid { 
    font-size: 12px;
}

.grid-top { 
    background-color: none; 
    margin-top: 3%;
}

.grid-top h2 { 
    color: white; 
    font-size: 48px; 
    font-family: 'Times New Roman'; 
    margin-left: 41%; 
    letter-spacing: .2rem
}

#resume_link { 
    color: #ffa31a; 
    font-size: 22px;
    text-decoration: underline; 
    font-family: 'Patua One', cursive;
    margin-left: 43%;
}

.grid-topleft, 
.grid-botleft { 
    margin-left: 30%; 
    margin-right: 5%; 
}

.grid-topright, 
.grid-botright { 
    margin-right: 15%; 
    margin-left: 5%; 
}

figcaption {  
    width: 110%;
    color: white;
    font-size: 16px;
}

/* the passion box image and caption */ 

.home_panel { 
    height: 400px; 
    width: 500px;
}

.grid img { 
    border-radius: 1%; 
    border: black;
    filter: contrast(70%); 
    opacity: .9; 
    z-index: 10; 
}

.img_txt { 
    color: white; 
    font-size: 26px; 
}

.overlay {
    position: relative;
    bottom: 50%;
    background-color: yellowgreen;
    overflow: hidden;
    width: 100%;
    z-index: 1; 
    height:0;
    transition: .5s ease;
}

.overlay_text {
    color: white;
    font-size: 22px;
}

.report:hover .overlay, 
.model:hover .overlay, 
.solver:hover .overlay, 
.passion:hover .overlay {
    bottom: 122%;
    height: 101%;
}
  
#report_p { 
    position: relative; 
    bottom: 60%; 
    left: 27%; 
}


#passion_p { 
    position: relative;  
    bottom: 20%; 
    left: 10%; 
}

.passion img { 
    filter: grayscale(20%);
}

#model_p { 
    position: relative;  
    bottom: 60%; 
    left: 40%; 
}

#solver_p { 
    position: relative; 
    bottom: 50%; 
    left: 35%; 
}



/* foot */ 

#contact_p { 
    color: white; 
    font-size: 18px; 

}



